<header>
  <img src="./assets/logo.png" alt="Logomarca Integrar Mais" width="500" height="600">
</header>
<div class="separador"></div>

<article>
  <div class="box-inicio">
    <div class="frases">
      <span class="titulo">Seja Bem-Vindo!</span>
      <span class="subtitulo">Convidamos você para conhecer um pouco sobre o Integrar+</span>
    </div>
  </div>

  <div class="box-informativo">
    <div class="lado-esquerdo">
      <span class="titulo">Terapia Infantil</span>
      <span class="subtitulo">O acompanhamento psicológico na infância é essencial para identificar e tratar precocemente questões emocionais e comportamentais, promovendo um desenvolvimento saudável e habilidades para lidar com desafios futuros.</span>
    </div>
    <div class="lado-direito"></div>
  </div>
</article>
