/* Definir margens, preenchimento e bordas como zero para todos os elementos */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Definir fonte e cor padrão para todos os elementos */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #ffff;
}

/* Definir uma altura mínima para o corpo da página */
html, body {
  height: 100%;
  min-height: 100%;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
